@using Resources;
<div class="w3-container" id="assign_student_container" style="display:none">
    <div class="w3-row w3-container">
        <select id="assign_subject" class="w3-col w3-input w3-border" style="width:50%">
           
        </select>
    </div>
</div>
<div class="w3-container" id="assign_student_info_container" style="display:none">
    <label class="w3-container"><b>@Resource.Assign_student_to_subj:</b></label>
    <div class="w3-row">
        <label class="w3-col w3-container" style="width:50%">@Resource.List_assigned_students</label>
        <label class="w3-col w3-container" style="width:50%">@Resource.List_students</label>
    </div>
    <div class="w3-row">
        <div class="w3-col w3-container" style="width:50%">
            <select class="w3-input w3-border" id="assigned_student_list">
              
            </select>
        </div>
        <div class="w3-col w3-container" style="width:50%">
            <select class="w3-col w3-input w3-border w3-container" id="all_student_list">
              
            </select>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col w3-container" style="width:50%">
            <button class="w3-block w3-red w3-btn" id="btn_cancel_student">@Resource.Cancel_subject</button>
        </div>
        <div class="w3-col w3-container" style="width:50%">
            <button class="w3-block w3-btn w3-theme" id="btn_assign_subj">@Resource.Assing_subj_to_teach</button>
        </div>
    </div>
</div>
