@using Resources;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="w3-container" style="margin-top:117px">
        @if (Request.IsAuthenticated)
        {  
            <div class="w3-sidebar w3-bar-block w3-collapse w3-animate-left" style="z-index:3;width:270px;max-height:350px" id="mySidebar">

                <div class="w3-bar w3-hide-large w3-large">
                    <a href="javascript:void(0)" onclick="show_nav(this, 'menuTeach')" class="w3-bar-item w3-button w3-theme w3-hover-white w3-padding-16 my-nav-head" style="width:50%">@Resource.Teachers</a>
                    <a href="javascript:void(0)" onclick="show_nav(this, 'menuStu')" class="w3-bar-item w3-button w3-theme w3-hover-white w3-padding-16 my-nav-head" style="width:50%">@Resource.Students</a>
                    <a href="javascript:void(0)" onclick="show_nav(this, 'menuSubj')" class="w3-bar-item w3-button w3-theme w3-hover-white w3-padding-16 my-nav-head" style="width:50%">@Resource.Subjects</a>                   
                </div>

                <a href="javascript:void(0)" onclick="close_sidebar()" class="w3-button w3-right w3-xlarge w3-hide-large" title="@Resource.Tt_close_menu">×</a>

                <div id="menuTeach" class="myMenu" style="display:none">
                    <div class="w3-container">
                        <h3 id="head_teach_cont">@Resource.Teachers</h3>
                    </div>
                    <a class="w3-bar-item w3-button my-nav" id="nav_list_teachers">@Resource.List_teachers</a>
                    <a class="w3-bar-item w3-button my-nav" id="nav_add_teacher">@Resource.Add_teacher</a>
                    <a class="w3-bar-item w3-button my-nav" id="nav_assign_subj">@Resource.Assign_subject</a>                    
                </div>
                <div id="menuStu" class="myMenu" style="display:none">
                    <div class="w3-container">
                        <h3>@Resource.Students</h3>
                    </div>
                    <a class="w3-bar-item w3-button my-nav" id="nav_list_students">@Resource.List_students</a>
                    <a class="w3-bar-item w3-button my-nav" id="nav_add_student">@Resource.Add_student</a>
                    <a class="w3-bar-item w3-button my-nav" >@Resource.Assign_subj_tech</a>
                </div>
                <div id="menuSubj" class="myMenu" style="display:none">
                    <div class="w3-container">
                        <h3>@Resource.Subjects</h3>
                    </div>
                    <a class="w3-bar-item w3-button my-nav" id="nav_list_subjects">@Resource.List_subjects</a>
                    <a class="w3-bar-item w3-button my-nav" id="nav_add_subject">@Resource.Add_subject</a>                   
                </div>

            </div>

            <div class="w3-overlay w3-hide-large" onclick="close_sidebar()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
            
            <div class="w3-main w3-container" style="margin-left:270px">
                    <div class="w3-panel w3-padding-large w3-card-4 w3-light-grey" style="min-height:400px" id="main_panel">
                        <div class="w3-row">
                            <ul class="breadcrumb">
                                <li><a id="title_main_cont_level_1"></a></li>
                                <li><a id="title_main_cont_level_2"></a></li>
                            </ul> 
                        </div>
                        <div id="data_result">                            
                        </div>                       
                        @{ Html.RenderPartial("AssignSubjectPartial"); }             
                    </div>
            </div>

            { Html.RenderPartial("AddUserPartial"); }
            { Html.RenderPartial("AskConfirmPartial"); }
            { Html.RenderPartial("AddSubjectPartial"); }
            { Html.RenderPartial("EditSubjectPartial"); }            
        }
    </div>  
       
</body>
